@use './mixins' as *;
@use './colors' as *;

:root {
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  // font-size: 1.125rem;
  @apply text-base;
}

p {
  margin: 1rem 0;
}

h1,
.title-1 {
  // font-size: size(28);
  @apply text-2xl;
  margin: 0 0 1.5rem;
  font-weight: 500;
}

h2,
.title-2 {
  // font-size: size(24);
  @apply text-xl;
  font-weight: 500;
  margin: 0 0 1rem;
}

h3,
.title-3 {
  // font-size: size(18);
  @apply text-lg;
  margin: 0 0 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h4 {
  // font-size: size(18);
  @apply text-base;
  margin: 0 0 1.5rem;
}

h5 {
  // font-size: size(18);
  @apply text-base;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 1rem;
}

h6 {
  // font-size: size(18);
  @apply text-sm font-bold italic;
}

blockquote,
.callout {
  // font-size: size(20.33);
  @apply text-lg;
  font-style: italic;
  line-height: 1.33;
  margin: 0 0 2rem;
}

sup {
  // font-size: 0.8333rem;
  @apply text-sm;
  margin: 0.5em;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}
