@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-slate-50 text-dark-900 min-h-screen m0 text-base;
}

h1 {
  @apply text-2xl font-500 mb4;
}

h2 {
  @apply text-xl;
}

input[type='submit'],
button {
  @apply btn;
}

input[type='text'],
textarea {
  @apply bg-slate-1 border-gray-3 border-1 px-2 py-1 text-4 rounded-sm transition-all;
  @apply dark:bg-slate-1 dark:bg-opacity-10 dark:text-slate-1 dark:border-gray-5;
}

input[type='text']:focus,
textarea:focus {
  @apply outline-3 outline-solid outline-transparent shadow-md shadow-slate-5 shadow-opacity-20;
}

textarea.input {
  resize: vertical;
}

a,
button,
.btn {
  @apply cursor-pointer;
}

a {
  @apply text-rose-6 hover:bg-amber-2 focus:bg-amber-2;
}

a:focus,
button:focus,
input:focus,
.btn:focus {
  @apply outline-2 outline-pink-5 outline-solid;
}

.text-error {
  @apply text-red text-xs;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}
